absl-py
aiofile
altgraph
annotated-types
anyio
astunparse
attrs
Authlib
beartype
cachetools
caio
certifi
cffi
charset-normalizer
click
cloudpickle
contourpy
cryptography
customtkinter
cycler
cyclopts
darkdetect
dnspython
docstring_parser
email-validator
et_xmlfile
exceptiongroup
fastmcp
fastmcp-slim
filelock
flatbuffers
fonttools
fsspec
gast
google-pasta
griffelib
grpcio
h11
h5py
hf-xet
httpcore
httpx
httpx-sse
huggingface_hub
idna
iniconfig
jaraco.classes
jaraco.context
jaraco.functools
Jinja2
joserfc
jsonref
jsonschema
jsonschema-path
jsonschema-specifications
keyring
kiwisolver
libclang
lxml
macholib
markdown-it-py
MarkupSafe
matplotlib
mcp
mdurl
ml-dtypes
more-itertools
mpmath
namex
netra-ocr
networkx
numpy
nvidia-ml-py
openapi-pydantic
opencv-python
openpyxl
opentelemetry-api
opt-einsum
optree
packaging
pathable
pillow
platformdirs
pluggy
polars
polars-runtime-32
protobuf
psutil
py-key-value-aio
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pymupdf
pyparsing
pyperclip
pytest
python-dateutil
python-docx
python-dotenv
python-multipart
PyYAML
referencing
regex
requests
rich
rich-rst
rpds-py
safetensors
setuptools
shellingham
six
sse-starlette
starlette
sympy
tensorboard
tensorboard-data-server
termcolor
tkinterweb-tkhtml
tokenizers
torch
torchvision
tqdm
transformers
typer-slim
typing-inspection
typing_extensions
ultralytics
ultralytics-platform
ultralytics-thop
uncalled-for
urllib3
uvicorn
watchfiles
websockets
Werkzeug
wheel
wrapt
